@font-face {
  font-family: Cards;
  src: url('Symbola.ttf') format('truetype');
  unicode-range: all;
}
* {
  padding: 0;
  margin: 0;
  overflow: 'hidden';
}
.card {
  font-family: Cards;
  font-size: 1500%;
}

.TABLE {
  margin-top: 5vh;
  margin-bottom: 20vh;
}

@media (max-width: 600px) {
  .card {
    margin-left: -0.45em;
    background-color: white;
    font-size: 1000%;
  }

  .TABLE,
  .HAND {
    margin-left: 20vw;
  }

  .TABLE {
    margin-top: 5vh;
    margin-bottom: 20vh;
  }
}
